:root {
    --nav-foo-background: #dcedfa;
    --Nav-color: #3d759a;
    --header-color: #3d4a6f;
    --button-background: #322f69;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


/* navbar */

.nab-color {
    background: transparent;
    border-bottom: 5px solid #dcedfa;
}

.navbar-color-scroll {
    transition: all ease-in-out 0.4s;
    background: var(--nav-foo-background);
    border-bottom: 0px solid black;
}

.navbar {
    z-index: 9999;
    width: 100%;
    top: 0;
    height: 90px;
    position: fixed;
}

.padding-navbar {
    margin: 30px;
}

.nav__menu {
    width: 100%;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--Nav-color);
}

.form-control {
    position: relative;
    width: 100%;
    height: 44px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search {
    position: relative;
    height: 50px;
    border-radius: 12px;
    margin-right: 8px;
    margin-left: 8px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.5s ease;
    border-radius: 12px;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.5s ease;
    border-radius: 12px;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 100%;
    margin-right: 30px;
}

.search.active .btn {
    transform: translateX(200px);
}

.dropdown-menu {
    margin-left: -120px;
}

.dropdown-menu h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Nav-color);
}

.dropdown-menu span {
    color: var(--Nav-color);
}

.dropdown-item {
    padding: 3px;
    color: var(--Nav-color);
}

.dropdown-item:hover {
    text-decoration: none;
    color: var(--Nav-color);
    background: rgba(141, 141, 141, 0.16);
}

.dropdown-menu .li-hover:hover {
    background: rgba(141, 141, 141, 0.16);
    width: 100%;
}

.form-class {
    display: flex;
}

.ul-dropdown-wrapper {
    min-width: 228px;
    padding: 20px;
}

@media screen and (max-width: 991px) {
    .navbar {
        width: 100%;
        position: fixed;
    }
    .nav__menu {
        position: fixed;
        top: 73px;
        right: -100%;
        width: 90%;
        height: 100%;
        padding: 2rem;
        background: linear-gradient(160deg, #E8F9FD, #C4DDFF, #7FB5FF);
        transition: .4s;
        overflow: scroll;
    }
    .wrapper-input {
        margin-top: 7px;
        margin-bottom: 12px;
    }
    .form-class {
        display: inline;
    }
    .padding-navbar {
        margin: 0px;
    }
    .nab-color {
        background: transparent;
        border-bottom: 3px solid #dcedfa;
    }
    .search.active .input {
        width: 50%;
    }
    .search.active .btn {
        transform: translateX(250px);
    }
    .search {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dropdown-menu {
        margin-left: 0px;
    }
}

@media screen and (min-width: 991px) {
    .nav__toggle {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .search.active .input {
        width: 80%;
    }
    .search.active .btn {
        transform: translateX(280px);
    }
}

@media screen and (max-width: 425px) {
    .search.active .input {
        width: 100%;
    }
    .search.active .btn {
        transform: translateX(230px);
    }
    .navbar-brand img {
        width: 145px;
    }
}

.show {
    right: 0px;
}


/* navbar-ends */


/* pencapain */

#pencapain {
    padding: 80px;
    margin-top: 90px;
}

.img-wrapper-pencapain {
    width: 100%;
}

.img-wrapper-pencapain img {
    width: 100%;
    height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.text-wrapper-pencapain {
    margin-bottom: 35px;
}

.text-wrapper-pencapain h2 {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.3;
    color: #1b4866;
}

.text-wrapper-pencapain p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #2d668b;
}

.button-pencapain {
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: #112B3C;
    box-shadow: 3px 6px 1px #2155CD, -6px -2px 1px #2155CD;
}

.button-pencapain:hover {
    box-shadow: -2px -5px 1px #C4DDFF;
    transition: all 0.4s ease-in;
}

@media screen and (max-width: 575px) {
    #pencapain {
        padding: 30px;
    }
    .img-wrapper-pencapain img {
        width: 100%;
        height: 485px;
    }
    .text-wrapper-pencapain h2 {
        font-size: 46px;
        font-weight: 700;
        line-height: 1.3;
        color: #1b4866;
    }
    .text-wrapper-pencapain p {
        font-size: 18px;
        font-weight: 400;
    }
    .button-pencapain {
        width: 150px;
        height: 42px;
    }
}

@media screen and (max-width: 425px) {
    .img-wrapper-pencapain img {
        width: 100%;
        height: 445px;
    }
    .button-pencapain {
        width: 150px;
        height: 38px;
        box-shadow: 3px 4px 1px #2155CD, -4px -2px 1px #2155CD;
        padding: 8px;
    }
}


/* pencapain */


/* pencapain-dua */

#pencapain_2 {
    margin-top: 30px;
}

.img-wrapper-pencapainDua {
    width: 100%;
    padding: 20px;
}

.img-wrapper-pencapainDua img {
    width: 100%;
    height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}

.text-wrapper-pencapainDua {
    width: 100%;
    text-align: center;
    padding: 30px;
}

.text-wrapper-pencapainDua h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
    color: #3078a8;
}

.text-wrapper-pencapainDua p {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: #355468;
}

@media screen and (max-width: 575px) {
    #pencapain_2 {
        margin-top: 40px;
    }
    .img-wrapper-pencapainDua img {
        width: 100%;
        height: 445px;
    }
    .text-wrapper-pencapainDua h2 {
        font-size: 42px;
        font-weight: 700;
        line-height: 1.4;
    }
    .text-wrapper-pencapainDua p {
        font-size: 18px;
        font-weight: 400;
    }
}


/* pencapain-dua-style */


/* pencapain-tiga-institusi -style */

#pencapain_3 {
    padding: 120px;
    background: #1f4c69;
    margin-top: 150px;
}

.img-wrapper-pencapainTiga {
    position: relative;
    width: 100%
}

.img-top {
    position: relative;
    width: 62%;
    margin-left: auto;
    bottom: 50px;
    right: 0px;
}

.img-top img {
    width: 100%;
    height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

.img-bottom {
    position: absolute;
    width: 56%;
    top: 19%;
    left: 12%;
}

.img-bottom img {
    width: 100%;
    height: 440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.text-wrapper-pencapainTiga h2 {
    font-size: 56px;
    font-weight: 700;
    color: #F2F2F2;
    width: 100%;
}

.text-wrapper-pencapainTiga p {
    font-size: 18px;
    font-weight: 500;
    color: #F2F2F2;
}

.pencapain-button {
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: #112B3C;
    box-shadow: 8px 5px 1px #79DAE8;
}

.pencapain-button:hover {
    box-shadow: -2px -5px 1px #C4DDFF;
    transition: all 0.4s ease-in;
}

@media screen and (max-width: 991px) {
    #pencapain_3 {
        padding: 30px;
        background: #1f4c69;
        margin-top: 40px;
    }
    .mb-pencapain-3 {
        margin-bottom: 120px;
    }
    .text-wrapper-pencapainTiga {
        margin-top: 70px;
    }
    .text-wrapper-pencapainTiga h2 {
        font-size: 48px;
    }
    .text-wrapper-pencapainTiga p {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .img-top {
        position: relative;
        width: 100%;
        bottom: 50px;
        right: 80px;
        margin: auto;
    }
    .img-top img {
        width: 100%;
        height: 520px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 8px;
    }
    .img-bottom {
        position: absolute;
        width: 100%;
        top: 0%;
        left: 12%;
    }
    .pencapain-button {
        padding: 8px;
        width: 200px;
        height: 46px;
    }
}


/* pencapain-tiga-institusi -style */


/* pencapain-empat-institusi-style */

#pencapain_4 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.text-heade-pencapainEmpat {
    text-align: center;
}

.text-heade-pencapainEmpat h2 {
    font-size: 58px;
    font-weight: 700;
    line-height: 1.3;
    color: #3078a8;
}

.text-heade-pencapainEmpat p {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: #355468;
}

.img-wrapper-pencapainEmpat {
    width: 240px;
    height: 240px;
}

.img-wrapper-pencapainEmpat img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-wrapper-instansi {
    margin-top: 12px;
    text-align: center;
}

.text-wrapper-instansi h4 {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #355468;
}

.button-institusi {
    margin-top: 24px;
    width: 240px;
    padding: 12px;
    border-radius: 4px;
    background: var(--header-color);
    color: #F2F2F2;
    border: none;
    box-shadow: 4px 5px 1px #3d759a, -2px -3px 2px #3078a8;
}

@media screen and (max-width: 575px) {
    #pencapain_4 {
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .text-heade-pencapainEmpat h2 {
        font-size: 47px;
        font-weight: 700;
    }
    .text-heade-pencapainEmpat p {
        font-size: 19px;
        font-weight: 400;
        line-height: 1.4;
    }
    .button-institusi {
        margin-top: 24px;
        width: 210px;
        padding: 8px;
    }
}


/* pencapain-empat-institusi-style */


/* footer-style-css */

.wrapper-footer-lines {
    width: 50%;
}

.teee {
    width: 100%;
}

.teee i {
    font-size: 18px;
    padding: 12px;
    color: #FFFFFF;
    background: var(--Nav-color);
    margin: 3px;
    border-radius: 8px;
}

.teee span {
    font-size: 18px;
    margin-right: 12px;
    color: #8f8f8f;
}

.wrapper-footer-link {
    margin: 30px;
    padding: 10px;
}

.ml-left {
    margin-left: 150px;
}

.wrapper-footer-link h4 {
    font-weight: 700;
    font-size: 18px;
    color: var(--Nav-color);
}

.wrapper-footer-link {
    font-size: 16px;
    color: #8f8f8f;
}

.link-media-social {
    color: var(--Nav-color);
}

.text-Reserved {
    background: #f1f1f1;
    padding: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #8f8f8f;
}

@media screen and (max-width: 991px) {
    .ml-left {
        margin-left: 0px;
    }
    .wrapper-footer-link {
        text-align: center;
        margin: 0px;
        padding: 20px;
    }
    .justify-center {
        justify-content: center;
    }
}

@media screen and (max-width: 571px) {
    .wrapper-footer-lines {
        text-align: center;
        width: 100%;
    }
    .teee {
        padding: 20px;
    }
}


/* footer-ends */