* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --nav-foo-background: #dcedfa;
    --Nav-color: #3d759a;
    --header-color: #3d4a6f;
    --button-background: #322f69;
}


/* navbar */

.navbar {
    z-index: 9999;
    width: 100%;
    top: 0;
    height: 90px;
    position: fixed;
}

.nav__menu {
    width: 100%;
}

.nav-link {
    font-size: 18px;
    font-weight: 700;
    color: var(--Nav-color);
}

.form-control {
    position: relative;
    width: 100%;
    height: 44px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button-language {
    position: relative;
    width: 80px;
    border: none;
    background: linear-gradient(120deg, #316B83, #93B5C6);
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 5px;
    margin-top: 1.5px;
}

.button-language:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-icon {
    position: absolute;
    top: 19%;
    right: 6.7%;
    border: none;
    background: transparent;
    background: var(--Nav-color);
    color: #FFFFFF;
    height: 44px;
    width: 3%;
    border-radius: 0px 14px 14px 0px;
}

.dropdown-menu {
    margin-left: -40px;
}

.dropdown-menu h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Nav-color);
}

.dropdown-menu span {
    color: var(--Nav-color);
}

.dropdown-item {
    padding: 3px;
    color: var(--Nav-color);
}

.dropdown-item:hover {
    text-decoration: none;
    color: var(--Nav-color);
    background: rgba(141, 141, 141, 0.16);
}

.dropdown-menu .li-hover:hover {
    background: rgba(141, 141, 141, 0.16);
    width: 100%;
}

.form-class {
    display: flex;
}

.kopoii {
    min-width: 228px;
    padding: 20px;
}

@media screen and (max-width: 1280px) {
    .search-icon {
        right: 8.3%;
        width: 4%;
        top: 11px;
    }
}

@media screen and (max-width: 1180px) {
    .search-icon {
        right: 8.7%;
        width: 4%;
        top: 12px;
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        width: 100%;
        position: fixed;
    }
    .nav__menu {
        position: fixed;
        top: 73px;
        right: -100%;
        width: 90%;
        height: 100%;
        padding: 2rem;
        background: linear-gradient(160deg, #E8F9FD, #C4DDFF, #7FB5FF);
        transition: .4s;
        overflow: scroll;
    }
    .wrapper-input {
        margin-top: 7px;
        margin-bottom: 12px;
    }
    .form-class {
        display: inline;
    }
    .search-icon {
        top: 40.5%;
        right: 3.7%;
        height: 44px;
        width: 11%;
    }
}

@media screen and (min-width: 991px) {
    .nav__toggle {
        display: none;
    }
}

.show {
    right: 0px;
}

.navbar {
    background: var(--nav-foo-background);
}


/* navbar-ends */


/* hero-style-about */

#hero-about {
    margin-top: 96px;
}

.text-wrapper {
    width: 100%;
    padding: 30px;
    margin: 20px;
}

.text-wrapper .asdasd {
    font-size: 57px;
    font-weight: 900;
    margin-bottom: -42px;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-wrapper h1 {
    font-size: 38px;
    margin-bottom: 22px;
    font-weight: 700;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-wrapper p {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--Nav-color);
    font-size: 18px;
    font-weight: 500;
}

.img-wrapper {
    width: 100%;
}

.img-wrapper img {
    width: 100%;
    height: 560px;
}

@media screen and (max-width: 991px) {
    #hero-about {
        margin-top: 106px;
    }
    .text-wrapper {
        padding: 20px;
        margin: 15px;
    }
    .text-wrapper .asdasd {
        font-size: 48px;
    }
    .text-wrapper h1 {
        font-size: 54px;
    }
    .img-wrapper img {
        height: 460px;
    }
}

@media screen and (max-width: 575px) {
    .text-wrapper {
        padding: 10px;
        margin: 5px;
    }
    .text-wrapper .asdasd {
        font-size: 32px;
    }
    .text-wrapper h1 {
        font-size: 38px;
    }
}


/* hero-style-about */


/* tentang-style-about */

#tentang-dlead {
    width: 100%;
    padding: 30px;
    margin-top: 28px;
}

.about-wrapper-tentang {
    width: 100%;
    padding: 20px;
}

.about-wrapper-tentang iframe {
    width: 100%;
    height: 405px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-wrapper-tentang h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-wrapper-tentang {
    font-size: 20px;
    margin-top: 16px;
    font-weight: 500;
    color: var(--Nav-color);
}

@media screen and (max-width: 575px) {
    .about-wrapper-tentang {
        padding: 0px;
    }
    .about-wrapper-tentang iframe {
        width: 100%;
        height: 425px;
        border-radius: 12px;
    }
    .text-wrapper-tentang {
        width: 100%;
        margin-top: 16px;
    }
    .text-wrapper-tentang h1 {
        font-size: 44px;
    }
}


/* tentang-style-about */


/* tentang-style-vision */

#vision {
    margin-top: 30px;
    padding: 40px;
}

.h1-vision {
    font-size: 46px;
    font-weight: 900;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vision-wrapper {
    width: 50%;
    padding: 30px;
    text-align: center;
}

.vision-wrapper img {
    width: 100%;
    height: 230px;
}

.vision-wrapper h2 {
    font-size: 32px;
    font-weight: 500;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 21px;
    margin-bottom: 21px;
}

.p-wrapper-visi {
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 991px) {
    .h1-vision {
        width: 100%;
        font-size: 47px;
        font-weight: 700;
    }
    .vision-wrapper h2 {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .vision-wrapper {
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .p-wrapper-visi {
        width: 100%;
        font-size: 21px;
        font-weight: 300;
    }
    @media screen and (max-width: 575px) {
        .vision-wrapper {
            width: 100%;
        }
        .vision-wrapper img {
            width: 100%;
            height: 285px;
        }
        .p-wrapper-visi {
            width: 100%;
            font-size: 18px;
            font-weight: 500;
        }
    }
}


/* tentang-style-vision */

#layanan {
    margin-top: 120px;
}

.text-wrapper-layanan {
    width: 100%;
    text-align: center;
    margin-bottom: 42px;
}

.text-wrapper-layanan h1 {
    font-size: 52px;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.text-wrapper-layanan p {
    font-size: 18px;
    background: -webkit-linear-gradient( #187498, #343A40);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    padding: 12px;
}

.img-lay img {
    width: 100%;
    height: 440px;
    border-radius: 18px;
}

.wrapper-promote-2 {
    width: 100%;
    margin-top: 12px;
}

.wrapper-promote-2 h3 {
    font-size: 38px;
    font-weight: 700;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -2px;
}

.wrapper-promote-2 p {
    font-size: 18px;
    font-weight: 500;
    color: var(--Nav-color);
    margin-top: -15px;
    margin-bottom: 8px;
}

.button-promoter {
    background: linear-gradient(60deg, #001D6E, #035397);
    border: none;
    width: 189px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #FFFBE7;
    text-shadow: 2px 2px 3px #383838;
    border-radius: 4px;
}

.wrapper-layanan-promote {
    width: 100%;
}

.img-layana-promote-wrapper {
    width: 100%;
}

.img-layana-promote-wrapper img {
    width: 100%;
    margin-left: 22px;
}

.text-wrapper-lay {
    width: 500%;
    padding: 12px;
    margin-left: 30px;
}

.text-wrapper-lay h3 {
    font-weight: 700;
    font-size: 24px;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.text-wrapper-lay p {
    font-size: 18px;
    color: var(--Nav-color);
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .wrapper-layanan-promote {
        margin-top: 50px;
    }
    .text-wrapper-layanan h1 {
        font-size: 48px;
    }
    .text-wrapper-layanan p {
        font-size: 21px;
    }
    .wrapper-promote-2 {
        margin-bottom: 18px;
    }
    .wrapper-promote-2 p {
        margin-bottom: 18px;
    }
}


/* layanan-style-css */


/* filosofi-style-css */

#filosofi {
    margin-top: 80px;
}

.h2-wrapper-filosofi {
    width: 100%;
    text-align: center;
}

.h2-wrapper-filosofi h2 {
    margin-top: 40px;
    font-size: 58px;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.filosofi-content {
    width: 100%;
    padding: 50px;
}

.filosofi-content img {
    width: 120px;
    height: 120px;
}

.p-filosofi {
    font-size: 21px;
    margin-left: 29px;
    background: linear-gradient(20deg, #001E6C, #132C33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.p-filosofi span {
    background: linear-gradient(#FF8C32, #B20600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 27px;
}

@media screen and (max-width: 991px) {
    .filosofi-content img {
        margin-bottom: 20px;
        width: 150px;
        height: 150px;
    }
    .filosofi-content {
        flex-wrap: wrap;
        width: 100%;
        padding: 5px;
        margin-top: 32px;
    }
}


/* filosofi-style-css */

#mengapa {
    margin-top: 90px;
}

.header-wrapper-mengapa {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.header-wrapper-mengapa h1 {
    font-weight: 900;
    font-size: 48px;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.header-wrapper-mengapa p {
    font-size: 21px;
    font-weight: 300;
    color: var(--Nav-color);
    font-weight: 700;
}

.img-wrepper-mengapa {
    width: 100%;
}

.img-wrepper-mengapa img {
    margin-bottom: 21px;
    width: 100%;
}

.wrapper-text-mengapa {
    color: var(--Nav-color);
    font-weight: 700;
    font-size: 18px;
}

@media screen and (max-width: 991px) {
    .mengapa-wrpper {
        margin-top: 50px;
    }
    .img-wrepper-mengapa img {
        height: 300px;
    }
}


/* Lokasi-style-css */

#peta {
    margin-top: 120px;
}

.h3 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 32px;
    color: var(--Nav-color);
}

.peta-wrapper {
    width: 100%;
    text-align: center;
}

.h2-lokasi-peta h2 {
    font-size: 48px;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.h2-lokasi-peta p {
    font-size: 21px;
    color: var(--Nav-color);
    font-weight: 700;
}

.lokasi-peta-child {
    width: 100%;
    margin-top: 50px;
}

.img-child-peta {
    width: 100%;
    text-align: center;
    margin: 20px;
    margin-right: 42px;
    margin-left: 42px;
}

.img-child-peta img {
    width: 105px;
    height: 105px;
}

.text-wrapper-peta {
    width: 100%;
}

.text-wrapper-peta h3 {
    font-size: 28px;
    font-weight: 900;
    color: var(--Nav-color);
}

.text-wrapper-peta p {
    font-size: 21px;
    font-weight: 500;
    color: var(--Nav-color);
}

.wrapper-google {
    width: 50%;
}

.wrapper-google iframe {
    width: 100%;
    border-radius: 14px;
    height: 500px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media screen and (max-width: 991px) {
    .wrapper-google {
        width: 100%;
    }
}

.header-hubungi {
    font-size: 47px;
    background: -webkit-linear-gradient(var(--Nav-color), var(--header-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.text-lokasi p {
    font-size: 16px;
    color: #383838;
    font-weight: 500;
}

.text-lokasi h4 {
    font-size: 18px;
    color: var(--Nav-color);
    font-weight: 700;
}

.uk-text-dark {
    color: #343A40;
    font-weight: 500;
}

.uk-text-dark:hover {
    text-decoration: none;
    color: #187498;
}


/* Lokasi-style-css */


/* footer-style-css */

.wrapper-footer-lines {
    width: 50%;
}

.teee {
    width: 100%;
}

.teee i {
    font-size: 18px;
    padding: 12px;
    color: #FFFFFF;
    background: var(--Nav-color);
    margin: 3px;
    border-radius: 8px;
}

.teee span {
    font-size: 18px;
    margin-right: 12px;
    color: #8f8f8f;
}

.wrapper-footer-link {
    margin: 30px;
    padding: 10px;
}

.ml-left {
    margin-left: 150px;
}

.wrapper-footer-link h4 {
    font-weight: 700;
    font-size: 18px;
    color: var(--Nav-color);
}

.wrapper-footer-link {
    font-size: 16px;
    color: #8f8f8f;
}

.link-media-social {
    color: var(--Nav-color);
}

.text-Reserved {
    background: #f1f1f1;
    padding: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #8f8f8f;
}

@media screen and (max-width: 991px) {
    .ml-left {
        margin-left: 0px;
    }
    .wrapper-footer-link {
        text-align: center;
        margin: 0px;
        padding: 20px;
    }
    .justify-center {
        justify-content: center;
    }
}

@media screen and (max-width: 571px) {
    .wrapper-footer-lines {
        text-align: center;
        width: 100%;
    }
    .teee {
        padding: 20px;
    }
}