:root {
    --nav-foo-background: #dcedfa;
    --Nav-color: #3d759a;
    --header-color: #3d4a6f;
    --button-background: #322f69;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


/* navbar */

.nab-color {
    background: transparent;
    border-bottom: 5px solid #dcedfa;
}

.navbar-color-scroll {
    transition: all ease-in-out 0.4s;
    background: var(--nav-foo-background);
    border-bottom: 0px solid black;
}

.navbar {
    z-index: 9999;
    width: 100%;
    top: 0;
    height: 90px;
    position: fixed;
}

.padding-navbar {
    margin: 30px;
}

.nav__menu {
    width: 100%;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--Nav-color);
}

.form-control {
    position: relative;
    width: 100%;
    height: 44px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search {
    position: relative;
    height: 50px;
    border-radius: 12px;
    margin-right: 8px;
    margin-left: 8px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.5s ease;
    border-radius: 12px;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.5s ease;
    border-radius: 12px;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 100%;
    margin-right: 30px;
}

.search.active .btn {
    transform: translateX(200px);
}

.dropdown-menu {
    margin-left: -120px;
}

.dropdown-menu h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Nav-color);
}

.dropdown-menu span {
    color: var(--Nav-color);
}

.dropdown-item {
    padding: 3px;
    color: var(--Nav-color);
}

.dropdown-item:hover {
    text-decoration: none;
    color: var(--Nav-color);
    background: rgba(141, 141, 141, 0.16);
}

.dropdown-menu .li-hover:hover {
    background: rgba(141, 141, 141, 0.16);
    width: 100%;
}

.form-class {
    display: flex;
}

.ul-dropdown-wrapper {
    min-width: 228px;
    padding: 20px;
}

@media screen and (max-width: 991px) {
    .navbar {
        width: 100%;
        position: fixed;
    }
    .nav__menu {
        position: fixed;
        top: 73px;
        right: -100%;
        width: 90%;
        height: 100%;
        padding: 2rem;
        background: linear-gradient(160deg, #E8F9FD, #C4DDFF, #7FB5FF);
        transition: .4s;
        overflow: scroll;
    }
    .wrapper-input {
        margin-top: 7px;
        margin-bottom: 12px;
    }
    .form-class {
        display: inline;
    }
    .padding-navbar {
        margin: 0px;
    }
    .nab-color {
        background: transparent;
        border-bottom: 3px solid #dcedfa;
    }
    .search.active .input {
        width: 50%;
    }
    .search.active .btn {
        transform: translateX(250px);
    }
    .search {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dropdown-menu {
        margin-left: 0px;
    }
}

@media screen and (min-width: 991px) {
    .nav__toggle {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .search.active .input {
        width: 80%;
    }
    .search.active .btn {
        transform: translateX(280px);
    }
}

@media screen and (max-width: 425px) {
    .search.active .input {
        width: 100%;
    }
    .search.active .btn {
        transform: translateX(230px);
    }
    .navbar-brand img {
        width: 145px;
    }
}

.show {
    right: 0px;
}


/* navbar-ends */


/* Program-page-style */

#program {
    margin-top: 120px;
    margin-bottom: 60px;
}

.header-program {
    width: 74%;
    font-weight: 700;
    padding: 12px;
    margin-top: 19px;
}

.header-program h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    background: -webkit-linear-gradient(60deg, #001D6E, #112B3C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-program span {
    background: -webkit-linear-gradient(#001D6E, #7FB5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.img-wrapper-program {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 18px;
    width: 100%;
    height: 500px;
}

.img-wrapper-program img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.wrapper-promote {
    width: 100%;
    margin: 30px;
}

.wrapper-promote p {
    font-size: 24px;
    margin-top: 24px;
    color: #707070;
}

.wrapper-promote span {
    font-size: 34px;
    color: black;
    font-weight: bold;
}

.wrapper-promote-2 {
    margin: 30px;
    margin-top: 62px;
}

.wrapper-promote-2 h3 {
    font-size: 38px;
    font-weight: 700;
    background: -webkit-linear-gradient(#333C83, #006778);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper-promote-2 p {
    font-size: 16px;
    font-weight: 700;
    color: #3A3845;
}

.button-promoter {
    background: linear-gradient(#143F6B, #06113C);
    border: none;
    width: 189px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #FFFBE7;
    text-shadow: 2px 2px 3px #383838;
    border-radius: 4px;
}

@media screen and (max-width: 991px) {
    .header-program {
        width: 100%;
        font-weight: 700;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    .header-program {
        width: 100%;
    }
    .img-wrapper-program {
        padding: 12px;
        border-radius: 8px;
    }
    .wrapper-promote {
        width: 100%;
        margin: 10px;
    }
    .wrapper-promote-2 {
        margin: 10px;
        margin-top: 32px;
    }
}

@media screen and (max-width: 575px) {
    .button-promoter {
        width: 145px;
        height: 47px;
    }
    .header-program {
        margin-left: 12px;
        padding: 0px;
    }
    .header-program h1 {
        font-size: 42px;
    }
    .header-program span {
        font-weight: 700;
        font-size: 47px;
    }
}

@media screen and (max-width: 420px) {
    .button-promoter {
        width: 125px;
        height: 47px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 335px) {
    .button-promoter {
        width: 105px;
        font-size: 14px;
    }
}


/* Program-page-style-ends */


/* promote-program-second */

#promote_program {
    margin-bottom: 42px;
}

.header-h1-program {
    width: 100%;
    text-align: center;
    padding: 5rem;
}

.header-h1-program h1 {
    font-size: 57px;
    font-weight: 700;
    line-height: 1.3;
    background: -webkit-linear-gradient(60deg, #001D6E, #112B3C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-h1-program p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #575757;
}

.header-h1-program span {
    background: -webkit-linear-gradient(#4B7BE5, #7FB5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.header-h1-program button {
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 150px;
    color: #FFFFFF;
    background: #232931;
    box-shadow: 8px 5px 1px #8f8f8f;
}

.header-h1-program button:hover {
    box-shadow: -2px -5px 1px #8f8f8f;
    transition: all 0.4s ease-in-out;
}

.wrapper-card-program {
    margin-top: -60px;
}

.card-promote-program {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    background: #283b53;
    margin: 12px;
}

.card-promote-program p {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    background: -webkit-linear-gradient(20deg, #F5F5F5, #F7F7F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 575px) {
    .header-h1-program {
        padding: 1rem;
    }
    .header-h1-program h1 {
        font-size: 52px;
        font-weight: 700;
    }
    .wrapper-card-program {
        margin-top: 20px;
    }
    .card-promote-program {
        border-radius: 0px;
    }
}

@media screen and (max-width: 375px) {
    .header-h1-program h1 {
        font-size: 45px;
        font-weight: 700;
        line-height: 1.3;
    }
}


/* promote-program-second-ends */


/* promote-program-second  */

#promote_program_2 {
    margin-top: 90px;
}

.header-promote-2 {
    text-align: center;
    width: 100%;
    padding: 2.7rem;
}

.header-promote-2 h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
    background: -webkit-linear-gradient(60deg, #001D6E, #112B3C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-promote-2 p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #575757;
}

.content-wrapper-program-2 {
    width: 100%;
}

.img-wrapper-program-2 img {
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-wrapper-program2 {
    padding: 12px;
    width: 100%;
}

.text-wrapper-program2 h3 {
    font-weight: 700;
    color: #3d4a6f;
}

.text-wrapper-program2 p {
    font-weight: 400;
    color: #383838;
}

.img-wrapper-promote-2side img {
    height: 520px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    #promote_program_2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 375px) {
    #promote_program_2 {
        margin-top: 90px;
    }
    .img-wrapper-program-2 img {
        width: 65px;
        height: 65px;
    }
    .img-wrapper-promote-2side img {
        height: 500px;
        border-radius: 16px;
    }
}


/* promote-program-second  */


/* swiper-mentor-slider-style */

.header-mentor {
    text-align: center;
    padding: 2.1rem;
    width: 100%;
    margin-bottom: -50px;
    margin-top: 40px;
}

.header-mentor h2 {
    font-size: 37px;
    font-weight: 700;
    line-height: 1.3;
    background: -webkit-linear-gradient(60deg, #001D6E, #112B3C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-mentor p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #575757;
}

.card-mentor {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #173041;
    border-radius: 8px;
    height: 485px;
    width: 320px;
}

.img-mentor img {
    width: 100%;
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 0px 0px;
}

.card-text {
    padding: 4px;
}

.card-text h4 {
    margin-top: 5px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: -14px;
}

.card-text p {
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.3;
    margin-bottom: -8px;
    padding: 5px;
}

.social-media-mentor h4 {
    margin-bottom: -4px;
    padding: 5px;
    color: #FFFFFF;
}

.social-media-mentor span {
    margin: 12px;
    font-size: 24px;
}

.social-media-mentor span>.fa-instagram {
    background: -webkit-linear-gradient(#F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.social-media-mentor span>.fa-whatsapp {
    background: -webkit-linear-gradient(20deg, #128C7E, #25D366, #34B7F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.social-media-mentor span>.fa-twitter {
    color: #1DA1F2;
    font-weight: 700;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 30px;
    height: 6px;
    border-radius: 2px;
    color: #232931;
    background: #3d4a6f;
}

.swiper-mentor .swiper-wrapper .swiper-slide {
    padding: 45px;
}

@media screen and (max-width: 425px) {
    .swiper-mentor .swiper-wrapper .swiper-slide {
        padding: 40px;
    }
    .swiper-pagination {
        top: 96.5%;
    }
}

@media screen and (max-width: 405px) {
    .swiper-mentor .swiper-wrapper .swiper-slide {
        padding: 30px;
    }
}

@media screen and (max-width: 375px) {
    .swiper-mentor .swiper-wrapper .swiper-slide {
        padding: 20px;
    }
}


/* swiper-mentor-slider-style */


/* end-hero-header-wrapper */

.end-header-wrapper {
    margin-top: 50px;
    margin-bottom: 40px;
}

.header-end-program {
    border-radius: 12px;
    background: #192a5a;
    width: 1200px;
    height: 350px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.end-h1-program {
    width: 100%;
    text-align: center;
    padding: 5rem;
}

.end-h1-program h1 {
    font-size: 57px;
    font-weight: 700;
    line-height: 1.3;
    background: -webkit-linear-gradient(20deg, #FEFBE7, #FEE2C5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.end-h1-program p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    color: #575757;
}

.end-h1-program span {
    background: -webkit-linear-gradient(#F5F5F5, #DAE5D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.end-h1-program button {
    border: none;
    border-radius: 4px;
    padding: 12px;
    width: 150px;
    color: #FFFFFF;
    background: #383838;
    font-weight: 700;
    box-shadow: 8px 5px 1px #8f8f8f;
}

.end-h1-program button:hover {
    box-shadow: -2px -2px 1px #8f8f8f;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .header-end-program {
        border-radius: 12px;
        background: #192a5a;
        width: 100%;
        height: 350px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .end-h1-program {
        width: 100%;
        text-align: center;
        padding: 2rem;
    }
    .end-h1-program h1 {
        font-size: 42px;
        font-weight: 700;
        line-height: 1.3;
        background: -webkit-linear-gradient(20deg, #FEFBE7, #FEE2C5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .end-h1-program span {
        background: -webkit-linear-gradient(#F5F5F5, #DAE5D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 500;
    }
    .end-h1-program button {
        border: none;
        border-radius: 4px;
        padding: 8px;
        width: 120px;
        color: #FFFFFF;
        background: #383838;
        font-weight: 500;
        box-shadow: 8px 5px 1px #8f8f8f;
    }
}


/* end-hero-header-wrapper-end-style */


/* footer-style-css */

.wrapper-footer-lines {
    width: 50%;
}

.teee {
    width: 100%;
}

.teee i {
    font-size: 18px;
    padding: 12px;
    color: #FFFFFF;
    background: var(--Nav-color);
    margin: 3px;
    border-radius: 8px;
}

.teee span {
    font-size: 18px;
    margin-right: 12px;
    color: #8f8f8f;
}

.wrapper-footer-link {
    margin: 30px;
    padding: 10px;
}

.ml-left {
    margin-left: 150px;
}

.wrapper-footer-link h4 {
    font-weight: 700;
    font-size: 18px;
    color: var(--Nav-color);
}

.wrapper-footer-link {
    font-size: 16px;
    color: #8f8f8f;
}

.link-media-social {
    color: var(--Nav-color);
}

.text-Reserved {
    background: #f1f1f1;
    padding: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #8f8f8f;
}

@media screen and (max-width: 991px) {
    .ml-left {
        margin-left: 0px;
    }
    .wrapper-footer-link {
        text-align: center;
        margin: 0px;
        padding: 20px;
    }
    .justify-center {
        justify-content: center;
    }
}

@media screen and (max-width: 571px) {
    .wrapper-footer-lines {
        text-align: center;
        width: 100%;
    }
    .teee {
        padding: 20px;
    }
}


/* footer-ends */