:root {
    --nav-foo-background: #dcedfa;
    --Nav-color: #3d759a;
    --header-color: #3d4a6f;
    --button-background: #322f69;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* navbar */

.navbar {
    z-index: 9999;
    width: 100%;
    top: 0;
    height: 90px;
    position: fixed;
}

.nav__menu {
    width: 100%;
}

.nav-link {
    font-size: 18px;
    font-weight: 700;
    color: var(--Nav-color);
}

.form-control {
    position: relative;
    width: 100%;
    height: 44px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.button-language {
    position: relative;
    width: 80px;
    border: none;
    background: linear-gradient(120deg, #316B83, #93B5C6);
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 5px;
    margin-top: 1.5px;
}

.button-language:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-icon {
    position: absolute;
    top: 19%;
    right: 6.7%;
    border: none;
    background: transparent;
    background: var(--Nav-color);
    color: #FFFFFF;
    height: 44px;
    width: 3%;
    border-radius: 0px 14px 14px 0px;
}

.dropdown-menu {
    margin-left: -40px;
}

.dropdown-menu h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Nav-color);
}

.dropdown-menu span {
    color: var(--Nav-color);
}

.dropdown-item {
    padding: 3px;
    color: var(--Nav-color);
}

.dropdown-item:hover {
    text-decoration: none;
    color: var(--Nav-color);
    background: rgba(141, 141, 141, 0.16);
}

.dropdown-menu .li-hover:hover {
    background: rgba(141, 141, 141, 0.16);
    width: 100%;
}

.form-class {
    display: flex;
}

.kopoii {
    min-width: 228px;
    padding: 20px;
}

@media screen and (max-width: 1280px) {
    .search-icon {
        right: 8.3%;
        width: 4%;
        top: 11px;
    }
}

@media screen and (max-width: 1180px) {
    .search-icon {
        right: 8.7%;
        width: 4%;
        top: 12px;
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        width: 100%;
        position: fixed;
    }
    .nav__menu {
        position: fixed;
        top: 73px;
        right: -100%;
        width: 90%;
        height: 100%;
        padding: 2rem;
        background: linear-gradient(160deg, #E8F9FD, #C4DDFF, #7FB5FF);
        transition: .4s;
        overflow: scroll;
    }
    .wrapper-input {
        margin-top: 7px;
        margin-bottom: 12px;
    }
    .form-class {
        display: inline;
    }
    .search-icon {
        top: 40.5%;
        right: 3.7%;
        height: 44px;
        width: 11%;
    }
}

@media screen and (min-width: 991px) {
    .nav__toggle {
        display: none;
    }
}

.show {
    right: 0px;
}

.navbar {
    background: var(--nav-foo-background);
}


/* navbar-ends */

#program {
    margin-top: 120px;
    margin-bottom: 60px;
}

.header-program {
    width: 82%;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 12px;
    margin-top: 19px;
}

.header-program span {
    background: -webkit-linear-gradient(#001D6E, #7FB5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-program h1 {
    color: #251D3A;
    font-size: 48px;
    font-weight: 900;
}

.card {
    border: none;
    box-shadow: -16px -12px 4px #06113C;
    height: 475px;
    margin: 10px;
    border: 1px solid black;
}

.card-body {
    font-weight: 800;
    margin: 14px;
}

.read-more {
    font-size: 18px;
    font-weight: 300;
    width: 75%;
}

.card-2 {
    box-shadow: 12px 12px 2px #7FB5FF, -7px -9px 8px #C4DDFF;
}

.wrapper-promote {
    width: 100%;
    margin: 30px;
}

.wrapper-promote p {
    font-size: 24px;
    margin-top: 24px;
    color: #707070;
}

.wrapper-promote span {
    font-size: 34px;
    color: black;
    font-weight: bold;
}

.wrapper-promote-2 {
    margin: 30px;
    margin-top: 62px;
}

.wrapper-promote-2 h3 {
    font-size: 38px;
    font-weight: 700;
    background: -webkit-linear-gradient(#333C83, #006778);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper-promote-2 p {
    font-size: 16px;
    font-weight: 700;
    color: #3A3845;
}

.button-promoter {
    background: linear-gradient(#143F6B, #06113C);
    border: none;
    width: 189px;
    height: 56px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    color: #FFFBE7;
    text-shadow: 2px 2px 3px #383838;
    border-radius: 4px;
}

@media screen and (max-width: 991px) {
    .header-program {
        width: 100%;
        font-weight: 700;
        margin-bottom: 22px;
        margin-top: 21;
    }
    .card {
        height: 475px;
        width: 70%;
    }
    .mt-sm-card {
        margin-top: 34px;
    }
}

@media screen and (max-width: 575px) {
    .header-program h1 {
        color: #251D3A;
        font-size: 44px;
    }
    .card {
        height: 475px;
        width: 100%;
    }
}


/* footer-style-css */

.wrapper-footer-lines {
    width: 50%;
}

.teee {
    width: 100%;
}

.teee i {
    font-size: 18px;
    padding: 12px;
    color: #FFFFFF;
    background: var(--Nav-color);
    margin: 3px;
    border-radius: 8px;
}

.teee span {
    font-size: 18px;
    margin-right: 12px;
    color: #8f8f8f;
}

.wrapper-footer-link {
    margin: 30px;
    padding: 10px;
}

.ml-left {
    margin-left: 150px;
}

.wrapper-footer-link h4 {
    font-weight: 700;
    font-size: 18px;
    color: var(--Nav-color);
}

.wrapper-footer-link {
    font-size: 16px;
    color: #8f8f8f;
}

.link-media-social {
    color: var(--Nav-color);
}

.text-Reserved {
    background: #f1f1f1;
    padding: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #8f8f8f;
}

@media screen and (max-width: 991px) {
    .ml-left {
        margin-left: 0px;
    }
    .wrapper-footer-link {
        text-align: center;
        margin: 0px;
        padding: 20px;
    }
    .justify-center {
        justify-content: center;
    }
}

@media screen and (max-width: 571px) {
    .wrapper-footer-lines {
        text-align: center;
        width: 100%;
    }
    .teee {
        padding: 20px;
    }
}


/* footer-ends */