:root {
    --header-color: #06163a;
    --Background-gradient: linear-gradient( 45deg, #ffffff, #ebecec, #c7e1f3);
    --button-color: #FFFFFF;
    --button-background: #61a4c0;
    --footer-background: #06163a;
    --nav-color: #06163a;
}

:root {
    --nav-foo-background: #dcedfa;
    --Nav-color: #3d759a;
    --header-color: #3d4a6f;
    --button-background: #322f69;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


/* navbar */

.nab-color {
    background: transparent;
    border-bottom: 5px solid #dcedfa;
}

.navbar-color-scroll {
    transition: all ease-in-out 0.4s;
    background: var(--nav-foo-background);
    border-bottom: 0px solid black;
}

.navbar {
    z-index: 1000;
    width: 100%;
    top: 0;
    height: 90px;
    position: fixed;
}

.padding-navbar {
    margin: 30px;
}

.nav__menu {
    width: 100%;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: var(--Nav-color);
}

.form-control {
    position: relative;
    width: 100%;
    height: 44px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search {
    position: relative;
    height: 50px;
    border-radius: 12px;
    margin-right: 8px;
    margin-left: 8px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.5s ease;
    border-radius: 12px;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.5s ease;
    border-radius: 12px;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 100%;
    margin-right: 30px;
}

.search.active .btn {
    transform: translateX(200px);
}

.dropdown-menu {
    margin-left: -120px;
}

.dropdown-menu h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Nav-color);
}

.dropdown-menu span {
    color: var(--Nav-color);
}

.dropdown-item {
    padding: 3px;
    color: var(--Nav-color);
}

.dropdown-item:hover {
    text-decoration: none;
    color: var(--Nav-color);
    background: rgba(141, 141, 141, 0.16);
}

.dropdown-menu .li-hover:hover {
    background: rgba(141, 141, 141, 0.16);
    width: 100%;
}

.form-class {
    display: flex;
}

.ul-dropdown-wrapper {
    min-width: 228px;
    padding: 20px;
}

@media screen and (max-width: 991px) {
    .navbar {
        width: 100%;
        position: fixed;
    }
    .nav__menu {
        position: fixed;
        top: 73px;
        right: -100%;
        width: 90%;
        height: 100%;
        padding: 2rem;
        background: linear-gradient(160deg, #E8F9FD, #C4DDFF, #7FB5FF);
        transition: .4s;
        overflow: scroll;
    }
    .wrapper-input {
        margin-top: 7px;
        margin-bottom: 12px;
    }
    .form-class {
        display: inline;
    }
    .padding-navbar {
        margin: 0px;
    }
    .nab-color {
        background: transparent;
        border-bottom: 3px solid #dcedfa;
    }
    .search.active .input {
        width: 50%;
    }
    .search.active .btn {
        transform: translateX(250px);
    }
    .search {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .dropdown-menu {
        margin-left: 0px;
    }
}

@media screen and (min-width: 991px) {
    .nav__toggle {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .search.active .input {
        width: 80%;
    }
    .search.active .btn {
        transform: translateX(280px);
    }
}

@media screen and (max-width: 425px) {
    .search.active .input {
        width: 100%;
    }
    .search.active .btn {
        transform: translateX(230px);
    }
    .navbar-brand img {
        width: 145px;
    }
}

.show {
    right: 0px;
}


/* navbar-ends */

.h2-header-all {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 65px;
    background: -webkit-linear-gradient(#3870a1, #2A2550);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.doww span {
    color: #3870a1;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}


/* hero-berita */

#hero-berita {
    margin-top: 120px;
}

.wrapper-training-content {
    padding: 40px;
}

.card {
    width: 100%;
    height: 300px;
    border: none;
}

.card-img-top {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card-body {
    border-radius: 0px 0px 10px 10px;
    background: #06163a;
    color: #FFFFFF;
}

.card-title {
    color: #FFFFFF;
}


/* hero-berita */


/* infografis */


/* pagination */

.pagination-berita {
    margin-top: 40px;
    margin-left: -30px;
}

.page-item {
    color: #112B3C;
    background: #001D6E;
    margin: 8px;
    border: none;
}

.page-link {
    color: #112B3C;
    border: none;
    font-size: 21px;
    text-decoration: underline;
}

.page-link:hover {
    text-decoration: none;
    color: #112B3C;
    border: none;
    font-size: 16px;
}

@media screen and (max-width: 425px) {
    .wrapper-training-content {
        padding: 0px;
        margin-bottom: 50px;
    }
}


/* pagination */


/* webinar */

#training-class {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 40px;
}

.img-wrapper-training {
    width: 100%;
}

.img-wrapper-training img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-wrapper-training h2 {
    font-size: 32px;
    color: #3d4a6f;
    font-weight: 600;
}

.p-wrapper-training {
    font-weight: 300;
    margin-top: 12px;
}

.button-berita {
    width: 150px;
    height: 40px;
    color: var(--button-color);
    background: #3870a1;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(182, 182, 182, 0.35) 0px 5px 15px;
    transition: 0.1s;
    margin-top: 10px;
}

.button-webinar:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* webinar-ends */


/* footer-style-css */

.wrapper-footer-lines {
    width: 50%;
}

.teee {
    width: 100%;
}

.teee i {
    font-size: 18px;
    padding: 12px;
    color: #FFFFFF;
    background: var(--Nav-color);
    margin: 3px;
    border-radius: 8px;
}

.teee span {
    font-size: 18px;
    margin-right: 12px;
    color: #8f8f8f;
}

.wrapper-footer-link {
    margin: 30px;
    padding: 10px;
}

.ml-left {
    margin-left: 150px;
}

.wrapper-footer-link h4 {
    font-weight: 700;
    font-size: 18px;
    color: var(--Nav-color);
}

.wrapper-footer-link {
    font-size: 16px;
    color: #8f8f8f;
}

.link-media-social {
    color: var(--Nav-color);
}

.text-Reserved {
    background: #f1f1f1;
    padding: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #8f8f8f;
}

@media screen and (max-width: 991px) {
    .ml-left {
        margin-left: 0px;
    }
    .wrapper-footer-link {
        text-align: center;
        margin: 0px;
        padding: 20px;
    }
    .justify-center {
        justify-content: center;
    }
}

@media screen and (max-width: 571px) {
    .wrapper-footer-lines {
        text-align: center;
        width: 100%;
    }
    .teee {
        padding: 20px;
    }
}


/* footer-ends */